<!-- app/views/bookings/edit.html.erb -->
<h1>Editar reserva</h1>

<%= form_with model: @booking, url: booking_path(@booking), method: :patch do |form| %>
  <div>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :guest_count %>
    <%= form.number_field :guest_count %>
  </div>

  <div>
    <%= form.submit "Guardar cambios" %>
  </div>
<% end %>
