<!-- app/views/bookings/new.html.erb -->
<h1>Nueva reserva</h1>

<%= form_with model: @booking, url: bookings_path, method: :post do |form| %>
  <div>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :guest_count %>
    <%= form.number_field :guest_count %>
  </div>

  <div>
    <%= form.submit "Enviar reserva" %>
  </div>
<% end %>
