<!-- app/views/bookings/show.html.erb -->
<h1>Detalles de la reserva</h1>

<p><strong>ID:</strong> <%= @booking.id %></p>
<p><strong>Fechas de inicio y fin:</strong> <%= @booking.start_date %> - <%= @booking.end_date %></p>
<p><strong>Cantidad de personas:</strong> <%= @booking.guest_count %></p>
<p><strong>Estado:</strong> <%= @booking.status %></p>
