<div id="card">
  <%# This div would be the image %>
  <div class="w-100" style='background-image: url("<%= housing.images.key %>"); background-size: cover; background-repeat: no-repeat; background-position: center center; height: 300px; border-radius: 15px;'></div>

  <div id="content" class="mt-4" style="display: flex; flex-direction: column; align-items: flex-start;">
    <%# Nombre del housing %>
    <%= link_to housing_path(housing), class:'text-decoration-none' do %> <h3 class="text-black"><%= housing.name %></h3> <% end %>

    <%# Nombre de la ciudad %>
    <p id="city" style="margin-bottom: 1px; color: gray;"><%= housing.city %></p>
    <div>
        <i class="fas fa-star star-yellow opacity-50"></i>
        <small><em class="text-secondary"><%= housing.averagee_rating %></em></small>
    </div>
    <%# Fechas disponibles %>
    <p id="availability" style="margin-bottom: 8px; color: gray;">Oct 23 - 28</p>

    <%# Precio por noche %>
    <div id="pricepernight" class='d-flex align-items-end gap-1'>
      <h5 style="margin-bottom: 4px;">$<%= housing.price %></h5>
      <p style="margin-bottom: 2px;">/ night</p>
    </div>
  </div>
</div>
