<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom mx-3">
  <div class="container-fluid py-4 d-flex align-items-center justify-content-between">
    <a href="/">
      <svg width="102" height="32" viewBox="0 0 102 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M29.2402 22.6799C29.0802 22.2899 28.9302 21.8799 28.7702 21.5299L28.0302 19.8599L28.0002 19.8299C25.8002 15.0299 23.4502 10.1499 20.9602 5.34994L20.8602 5.14994C20.6102 4.67994 20.3602 4.15994 20.1002 3.67994C19.7802 3.10994 19.4702 2.49994 18.9602 1.91994C18.4631 1.31308 17.8374 0.824133 17.1284 0.488399C16.4194 0.152666 15.6447 -0.0214844 14.8602 -0.0214844C14.0757 -0.0214844 13.301 0.152666 12.592 0.488399C11.883 0.824133 11.2573 1.31308 10.7602 1.91994C10.2902 2.49994 9.9402 3.10994 9.6202 3.67994C9.3702 4.19994 9.1202 4.70994 8.8602 5.17994L8.7602 5.37994C6.3102 10.1799 3.9202 15.0599 1.7202 19.8599L1.6602 19.9199C1.4402 20.4399 1.1802 20.9799 0.930203 21.5599C0.770203 21.9099 0.610203 22.2899 0.450203 22.7099C0.0182357 23.8097 -0.119705 25.0031 0.0499754 26.1724C0.219656 27.3418 0.691101 28.4467 1.41785 29.3784C2.14459 30.31 3.10156 31.0362 4.19443 31.4854C5.2873 31.9346 6.47835 32.0912 7.6502 31.9399C8.77367 31.7921 9.85548 31.4178 10.8302 30.8399C12.1302 30.1099 13.3802 29.0499 14.7802 27.5199C16.1802 29.0499 17.4602 30.1099 18.7302 30.8499C19.9515 31.5668 21.3346 31.9624 22.7502 31.9999C24.3896 32.0068 25.976 31.4202 27.2167 30.3487C28.4573 29.2771 29.2684 27.7928 29.5002 26.1699C29.768 25.0037 29.6774 23.7838 29.2402 22.6699V22.6799ZM14.8802 24.3399C13.1602 22.1399 12.0402 20.1199 11.6602 18.3899C11.5028 17.7489 11.4688 17.0837 11.5602 16.4299C11.6302 15.9199 11.8202 15.4699 12.0802 15.0899C12.6802 14.2199 13.7302 13.6799 14.8802 13.6799C15.4263 13.6633 15.9681 13.7824 16.4568 14.0268C16.9455 14.2711 17.3659 14.633 17.6802 15.0799C17.9402 15.4799 18.1302 15.9199 18.1902 16.4299C18.2902 17.0099 18.2502 17.6799 18.0902 18.3899C17.7102 20.0899 16.5902 22.1299 14.8802 24.3399ZM27.6202 25.8199C27.5066 26.6439 27.1791 27.4237 26.6702 28.0816C26.1614 28.7396 25.4891 29.2527 24.7202 29.5699C23.9602 29.8899 23.1202 29.9799 22.3002 29.8899C21.5002 29.7899 20.7002 29.5299 19.8802 29.0499C18.5187 28.2084 17.2945 27.1629 16.2502 25.9499C18.3502 23.3499 19.6202 20.9799 20.1002 18.8699C20.3302 17.8699 20.3602 16.9699 20.2602 16.1399C20.1353 15.3532 19.842 14.6028 19.4002 13.9399C18.8958 13.2212 18.2225 12.6374 17.4396 12.2398C16.6567 11.8423 15.7881 11.6431 14.9102 11.6599C13.0602 11.6599 11.4102 12.5199 10.4102 13.9299C9.96004 14.5911 9.66911 15.3475 9.5602 16.1399C9.4302 16.9799 9.4602 17.9099 9.7202 18.8699C10.2002 20.9799 11.5002 23.3799 13.5702 25.9699C12.5437 27.2061 11.3166 28.2608 9.9402 29.0899C9.1102 29.5699 8.3202 29.8199 7.5202 29.9199C6.27609 30.0793 5.01935 29.7412 4.02316 28.9791C3.02698 28.2169 2.37186 27.0924 2.2002 25.8499C2.1002 25.0499 2.1702 24.2499 2.4902 23.3499C2.5902 23.0299 2.7402 22.7099 2.9002 22.3299C3.1202 21.8099 3.3802 21.2699 3.6302 20.7299L3.6702 20.6599C5.8302 15.8899 8.1902 11.0199 10.6402 6.24994L10.7402 6.04994C10.9902 5.56994 11.2402 5.05994 11.5002 4.57994C11.7602 4.06994 12.0402 3.57994 12.4002 3.17994C12.7118 2.80797 13.1012 2.50882 13.5409 2.30356C13.9806 2.09831 14.4599 1.99193 14.9452 1.99193C15.4305 1.99193 15.9098 2.09831 16.3495 2.30356C16.7892 2.50882 17.1786 2.80797 17.4902 3.17994C17.8402 3.57994 18.1302 4.06994 18.3902 4.57994C18.6402 5.05994 18.8902 5.57994 19.1502 6.04994L19.2502 6.24994C21.6902 11.0199 24.0502 15.8899 26.2502 20.6599L26.2802 20.6899C26.5402 21.2099 26.7602 21.7899 27.0102 22.2899C27.1702 22.6799 27.3302 22.9899 27.4302 23.3199C27.6202 24.2199 27.7202 25.0199 27.6202 25.8199V25.8199ZM41.5402 24.1199C40.7867 24.131 40.0403 23.9722 39.3565 23.6554C38.6727 23.3386 38.069 22.8719 37.5902 22.2899C36.5143 21.0499 35.9432 19.451 35.9902 17.8099C35.9737 16.1332 36.5632 14.5068 37.6502 13.2299C38.153 12.6406 38.7789 12.1686 39.4838 11.8472C40.1887 11.5259 40.9555 11.3629 41.7302 11.3699C42.4591 11.35 43.1812 11.5157 43.8284 11.8516C44.4757 12.1875 45.0269 12.6824 45.4302 13.2899L45.5302 11.7199H48.4502V23.7999H45.5202L45.4202 22.0399C45.0044 22.6886 44.4296 23.2202 43.7505 23.5842C43.0715 23.9483 42.3106 24.1327 41.5402 24.1199V24.1199ZM42.3002 21.2399C42.8802 21.2399 43.3902 21.0799 43.8702 20.7899C44.3102 20.4699 44.6702 20.0499 44.9502 19.5399C45.2002 19.0299 45.3302 18.4199 45.3302 17.7399C45.3692 17.1493 45.2542 16.5587 44.9966 16.0259C44.7389 15.493 44.3473 15.0361 43.8602 14.6999C43.3921 14.4083 42.8517 14.2537 42.3002 14.2537C41.7487 14.2537 41.2083 14.4083 40.7402 14.6999C40.3002 15.0199 39.9402 15.4399 39.6602 15.9499C39.3958 16.5124 39.2657 17.1286 39.2802 17.7499C39.2412 18.3405 39.3562 18.9312 39.6138 19.464C39.8715 19.9969 40.2631 20.4538 40.7502 20.7899C41.2202 21.0799 41.7302 21.2399 42.3002 21.2399ZM53.4502 8.45994C53.4502 8.80994 53.3902 9.12995 53.2302 9.38995C53.0702 9.63995 52.8502 9.86994 52.5602 10.0299C52.2702 10.1899 51.9602 10.2499 51.6402 10.2499C51.3202 10.2499 51.0002 10.1899 50.7102 10.0299C50.4359 9.87726 50.2053 9.65694 50.0402 9.38995C49.8853 9.10508 49.8094 8.78401 49.8202 8.45994C49.8202 8.09994 49.8902 7.77994 50.0402 7.52994C50.2002 7.22994 50.4302 7.04994 50.7102 6.88994C51.0002 6.72994 51.3102 6.65994 51.6402 6.65994C51.9585 6.65261 52.2733 6.728 52.5537 6.87874C52.8342 7.02948 53.0707 7.25042 53.2402 7.51994C53.3857 7.81149 53.4578 8.13418 53.4502 8.45994V8.45994ZM50.0502 23.7599V11.6999H53.2302V23.7799H50.0402L50.0502 23.7599ZM61.7302 14.8599V14.8999C61.5802 14.8299 61.3802 14.7999 61.2302 14.7699C61.0302 14.7299 60.8702 14.7299 60.6802 14.7299C59.7902 14.7299 59.1202 14.9899 58.6802 15.5299C58.2002 16.0799 57.9802 16.8499 57.9802 17.8399V23.7699H54.7902V11.6899H57.7202L57.8202 13.5199C58.1402 12.8799 58.5202 12.3999 59.0602 12.0399C59.5973 11.6902 60.2297 11.5155 60.8702 11.5399C61.1002 11.5399 61.3202 11.5599 61.5102 11.5999C61.6102 11.6299 61.6702 11.6299 61.7302 11.6599V14.8599V14.8599ZM63.0102 23.7599V6.73994H66.1902V13.2399C66.6402 12.6599 67.1502 12.2099 67.7902 11.8599C68.8034 11.3632 69.9544 11.2223 71.0575 11.4599C72.1606 11.6976 73.1515 12.3 73.8702 13.1699C74.9485 14.4126 75.5197 16.0154 75.4702 17.6599C75.4867 19.3367 74.8972 20.9631 73.8102 22.2399C73.3074 22.8293 72.6815 23.3013 71.9766 23.6227C71.2717 23.944 70.5049 24.1069 69.7302 24.0999C69.0013 24.1199 68.2792 23.9541 67.632 23.6183C66.9847 23.2824 66.4335 22.7874 66.0302 22.1799L65.9302 23.7499L63.0102 23.7799V23.7599ZM69.1602 21.2399C69.7302 21.2399 70.2402 21.0799 70.7202 20.7899C71.1602 20.4699 71.5202 20.0499 71.8002 19.5399C72.0602 19.0299 72.1802 18.4199 72.1802 17.7399C72.1802 17.0699 72.0602 16.4599 71.8002 15.9499C71.5376 15.4582 71.1686 15.0312 70.7202 14.6999C70.2521 14.4083 69.7117 14.2537 69.1602 14.2537C68.6087 14.2537 68.0683 14.4083 67.6002 14.6999C67.1502 15.0199 66.8002 15.4399 66.5102 15.9499C66.2458 16.5124 66.1157 17.1286 66.1302 17.7499C66.0912 18.3405 66.2062 18.9312 66.4639 19.464C66.7215 19.9969 67.1131 20.4538 67.6002 20.7899C68.0702 21.0799 68.5802 21.2399 69.1602 21.2399ZM76.6702 23.7699V11.6899H79.6002L79.7002 13.2599C80.0684 12.6581 80.5907 12.1656 81.2131 11.8333C81.8354 11.501 82.5353 11.3411 83.2402 11.3699C84.0463 11.356 84.8386 11.5801 85.5181 12.0141C86.1975 12.448 86.7339 13.0727 87.0602 13.8099C87.4102 14.5699 87.6002 15.5099 87.6002 16.5599V23.7999H84.4102V16.9799C84.4102 16.1399 84.2202 15.4799 83.8402 14.9899C83.4602 14.5099 82.9402 14.2499 82.2802 14.2499C81.8002 14.2499 81.3802 14.3499 81.0102 14.5699C80.6602 14.7999 80.3702 15.0899 80.1502 15.4999C79.9278 15.9144 79.8175 16.3798 79.8302 16.8499V23.7699H76.6702V23.7699ZM89.1902 23.7699V6.72994H92.3802V13.2299C92.8123 12.6467 93.3744 12.1722 94.0219 11.8441C94.6693 11.5161 95.3844 11.3434 96.1102 11.3399C96.8637 11.3289 97.6101 11.4877 98.2939 11.8045C98.9777 12.1213 99.5814 12.588 100.06 13.1699C101.131 14.4125 101.698 16.0105 101.65 17.6499C101.668 19.3269 101.078 20.9536 99.9902 22.2299C99.4874 22.8193 98.8615 23.2913 98.1566 23.6127C97.4517 23.934 96.6849 24.0969 95.9102 24.0899C95.1813 24.1099 94.4592 23.9441 93.812 23.6083C93.1647 23.2724 92.6135 22.7774 92.2102 22.1699L92.1202 23.7399L89.1902 23.7699V23.7699ZM95.3702 21.2399C95.9502 21.2399 96.4602 21.0799 96.9302 20.7899C97.3802 20.4699 97.7302 20.0499 98.0202 19.5399C98.2702 19.0299 98.4002 18.4199 98.4002 17.7399C98.4392 17.1493 98.3242 16.5587 98.0666 16.0259C97.8089 15.493 97.4173 15.0361 96.9302 14.6999C96.4621 14.4083 95.9217 14.2537 95.3702 14.2537C94.8187 14.2537 94.2783 14.4083 93.8102 14.6999C93.3702 15.0199 93.0102 15.4399 92.7302 15.9499C92.4511 16.5074 92.3202 17.1273 92.3502 17.7499C92.3112 18.3405 92.4262 18.9312 92.6839 19.464C92.9415 19.9969 93.3331 20.4538 93.8202 20.7899C94.2902 21.0799 94.7702 21.2399 95.3702 21.2399Z" fill="#FF3D5F"/>
      </svg>
    </a>

    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon border border-gray shadow-sm py-2 rounded-pill">
      <!-- Three options -->
      <div style="margin-left: 24px;">
        <%= form_with url: housings_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            style:"border: none; margin-left: 4px;",
            placeholder: "Anywhere"
          %>
        <% end %>
      </div>

      <div style="border-left: 1px solid #C4C4C4; height: 24px; margin: 0 8px;"></div>

      <div style="border: none; color: gray;">
        <%= form_with url: housings_path, class: "d-flex", data: { controller: 'flatpickr' } do |f| %>
          <div>
            <%= f.text_field :start_date, as: :string, input_html: { class: 'flatpickr-input', data: { flatpickr_target: 'startTime' } }, label: false, placeholder: 'Start date'
              text_field_tag :query,
              params[:query],
              data: { flatpickr_target: 'startTime' },
              style:"border: none; margin-left: 8px;",
              placeholder: "Start Date"
            %>
          </div>

          <div style="border-left: 1px solid #C4C4C4; height: 24px; margin: 0 8px;"></div>

          <div>
            <%= f.text_field :end_date, as: :string, input_html: { class: 'flatpickr-input', data: { flatpickr_target: 'endTime' } }, label: false, placeholder: 'End date'
              text_field_tag :query,
              params[:query],
              data: { flatpickr_target: 'endTime' },
              style:"border: none; margin-left: 8px;",
              placeholder: "End Date"
            %>
          </div>
        <% end %>
      </div>

      <div style="border-left: 1px solid #C4C4C4; height: 24px; margin: 0 8px;"></div>

      <div style="border: none; color: gray;">
        <%= form_with url: housings_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            style:"border: none; margin-left: 16px;",
            placeholder: "Add guests"
          %>
        <% end %>
      </div>

      <button class="btn btn-primary rounded-pill" style="display: flex; justify-content: center; align-items: center; height: 40px; margin-right: 10px; margin-left: 16px;">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.0413 13.0418L9.91634 9.91683M0.958008 6.16683C0.958008 3.29035 3.28986 0.958496 6.16634 0.958496C9.04282 0.958496 11.3747 3.29035 11.3747 6.16683C11.3747 9.04331 9.04282 11.3752 6.16634 11.3752C3.28986 11.3752 0.958008 9.04331 0.958008 6.16683Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>

    <% if user_signed_in? %>
      <!-- User dropdown menu -->
      <li class="nav-item dropdown" style="list-style: none;">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end rounded-4 mt-2" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", new_housing_path, class: "dropdown-item" %>
          <%= link_to "Create housing", new_housing_path, class: "dropdown-item" %>
          <%= link_to "My Housings", housings_path, class: "dropdown-item" %>
          <%= link_to "My bookings", books_path, class: "dropdown-item" %>
          <%= link_to "My guest requests", confirmations_path, class: "dropdown-item" %>
          <%= link_to "Log out",  destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
        </div>
      </li>
    <% else %>
      <li class="nav-item dropdown" style="list-style: none;">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end rounded-4 mt-2" aria-labelledby="navbarDropdown">
          <%= link_to "Sign In", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
        </div>
      </li>
    <% end %>
  </div>
</div>
