<h1>Mis Reservas</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Fechas</th>
      <th>Cantidad de personas</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.id %></td>
        <td><%= book.start_date %> - <%= book.end_date %></td>
        <td><%= book.guests %></td>
        <td><%= book.status %></td>
        <td>
          <%= link_to "Detalle", book_path(book) %>
          <%#= link_to "Editar", edit_book_path(book) %>
          <%#= link_to "Eliminar", book_path(book), method: :delete, data: { confirm: "¿Estás seguro de eliminar esta reserva?" } %>
          <%= link_to "Delete", book_path(book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
