<h1>Detalles de la reserva</h1>

<% if @book %>
  <p><strong>Fecha de ingreso:</strong> <%= @book.start_date %></p>
  <p><strong>Fecha de salida:</strong> <%= @book.end_date %></p>
  <p><strong>Huespedes:</strong> <%= @book.guests %></p>
  <p><strong>Alojamiento:</strong> <%= @book.housing%></p>
  <p><strong>Anfitrion:</strong> <%= @book.user.first_name%></p>
  
<% else %>
  <p>No se encontró ninguna reserva.</p>
<% end %>
