<div class="w-50">
  <%= simple_form_for(@housing) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name, required: true, label: false, placeholder: "Housing name" %>
      <%= f.input :price, required: true, label: false, placeholder: "Price per night" %>
      <%= f.input :amount_bathrooms, required: true, label: false, placeholder: "Bathrooms" %>
      <%= f.input :amount_rooms, required: true, label: false, placeholder: "Rooms" %>
      <%= f.input :msquare, required: true, label: false, placeholder: "Squared Meters" %>
      <%= f.input :city, required: true, label: false, placeholder: "City" %>
      <%= f.input :state, required: true, label: false, placeholder: "State" %>
      <%= f.input :address, required: true, label: false, placeholder: "Address" %>
      <%= f.input :description, required: true, label: false, placeholder: "Description" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary text-white p-3 mt-3", style: 'border-radius: 15px;' %>
    </div>
  <% end %>
</div>
