<div id="<%= dom_id housing %>">
  <p>
    <strong>Name:</strong>
    <%= housing.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= housing.user_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= housing.price %>
  </p>

  <p>
    <strong>Amount bathrooms:</strong>
    <%= housing.amount_bathrooms %>
  </p>

  <p>
    <strong>Amount rooms:</strong>
    <%= housing.amount_rooms %>
  </p>

  <p>
    <strong>Msquare:</strong>
    <%= housing.msquare %>
  </p>

  <p>
    <strong>City:</strong>
    <%= housing.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= housing.state %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= housing.address %>
  </p>

</div>
